# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# $GITHUB_USER will be requested for review when someone opens a pull request.
*       @$GITHUB_USER

# Core implementation
*.py    @$GITHUB_USER

# Documentation
/docs/   @$GITHUB_USER
*.md     @$GITHUB_USER

# GitHub CI/CD
/.github/ @$GITHUB_USER
